.git
*.git
*.txt
*_build
_build
*bert-base-uncased-vocab.txt
*works_of_shakespeare.txt
*sentence_embeddings.txt
*ot
data/distilbert-base-uncased-rust_model.ot
data/bert-base-uncased-vocab.txt
data/works_of_shakespeare.txt
